
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body"><h2 class="text-center">Paiement</h2>
          <br />
          <form #formArticle="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col-8 pb-1">
                <strong><label>Monatnt Reglé</label></strong> 
                <input
                  placeholder="saisir le montant à payer"
                  type="number"
                  class="form-control"
                  name="numEncssm"
                  [(ngModel)]="paiement.mon_regle"
                  #numEncssm="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': numEncssm.errors && numEncssm.touched
                  }"
                />
                <div
                  [hidden]="!numEncssm.errors?.required"
                  class="invalid-feedback"
                >
                montant is required
                </div>
              </div>
            </div>
            <div class="text-right mt-4">
              <button
                type="submit"
                [disabled]="!formArticle.valid"
                class="btn btn-success btn-block"
              >
                Save
              </button>
              
            </div>
          </form>
          <button (click)="closed()" class="btn btn-danger btn-block mt-3">
            close
          </button>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  

