.selected {
    background-color: #99a3fa;
    color: #fff;
    
  }
  .thClass {
    width: 25%;
  }
  
  /*table {
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  button {
    margin: 2px;
  }*/