<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Régler les factures</h1>
          <br />
          <form #formFacture="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col-4 pb-1">
                <mat-form-field class="full-width" floatLabel="always">
                  <label><strong>Numero de Facture</strong> </label>
                  <input
                    type="text"
                    [(ngModel)]="facture.numFacture"
                    name="numFacture"
                    matInput
                    #numFacture="ngModel"
                    (keyup)="changeNumFacture(numFacture.value)"
                    [matAutocomplete]="autonumFacture"
                    required
                  />
                  <mat-autocomplete
                    #autonumFacture="matAutocomplete"
                    [displayWith]="getAutoCompleteValuenumFacture"
                  >
                    <mat-option *ngFor="let fcr of fcr" [value]="fcr" (click)="getFacture(fcr.id, fcr.numFacture)"
                      >{{ fcr.numFacture }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div [hidden]="!afficherFacture" class="col-4 pb-1">
                <label for="numFacture"><strong>Monatnt de la facture</strong></label>
                <input
                  type="text"
                  disabled
                  class="form-control"  
                  name="mon_facture"
                  [value]="paiement.mon_facture | number: '1.2-2'"
                  required
                  />
              </div>
              
              
              <div class="col-4 pb-1">
                <label for="numFacture"><strong>Montant Reglé</strong></label>
                <input
                  type="number"
                  class="form-control"
                  name="mon_regle"
                  [(ngModel)]="paiement.mon_regle"
                  #mon_regle="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': mon_regle.errors && mon_regle.touched
                  }"
                />
                <div
                  [hidden]="!mon_regle.errors?.required"
                  class="invalid-feedback"
                >
                Montant Reglé is required
                </div>
              </div>
            </div>
             <div class="text-right mt-4">
              <button
                type="submit"
                [disabled]="!formFacture.valid"
                class="btn btn-success btn-block"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
