<div class="row">
  <div class="col-md-12">
    <!-- Menu Vertical -->
    <nav class="nav flex-column">
      <ul class="nav-link border color-meni list-group px-5 h5">
        Facture
      </ul>
      <li
        routerLink="/facture"
        class="list-group-item-action clickable py-1 pl-3"
      >
        Creation
      </li>
      <li routerLink="/list" class="list-group-item-action clickable py-1 pl-3">
        Liste
      </li>
      <ul class="nav-link border color-meni list-group px-5 h5">
        Article
      </ul>
      <li routerLink="/articleType" class="list-group-item-action clickable py-1 pl-3">Creation</li>
      <li routerLink="/listArticle" class="list-group-item-action clickable py-1 pl-3">Liste</li>
      <ul class="nav-link border color-meni list-group px-5 h5">
        Client
      </ul>
      <li routerLink="/addClient" class="list-group-item-action clickable py-1 pl-3">Creation</li>
      <li routerLink="/listClient" class="list-group-item-action clickable py-1 pl-3">Liste</li>
      <ul class="nav-link border color-meni list-group px-5 h5">
        Utilisateur
      </ul>
      <li class="list-group-item-action clickable py-1 pl-3">
        Créer Utilisateur
      </li>
      <li class="list-group-item-action clickable py-1 pl-3">Créer Role</li>
      <li class="list-group-item-action clickable py-1 pl-3">Liste</li>
      <li class="list-group-item-action clickable py-1 pl-3">
        Gérez les utilisateurs
      </li>
      <li class="list-group-item-action clickable py-1 pl-3">Déconnecter</li>
    </nav>
  </div>
</div>
